/* #vizContainer{
height: 700px;
width: 1300px;
overflow: auto;
}; */
/* 
h1{
    position: relative;
    top: 50px;
    left: 180px;
    width: 100px;
    font-family: "Georgia",'Gill Sans', 'Gill Sans MT','Trebuchet MS',sans-serif;

} */

#mainDiv{
    display: flex;
    width:1000px;
    height:500px; 
    /* background-color:red; */
    border: 2px solid red;
}



#left{

    width:500px;
    height:250px;
    /* background-color:yellow; */
    border: 2px solid yellow;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    align-content: flex-start;
    align-items: flex-start;

    /* float: left; */
    
}

 
#right{
    width:500px;
    height:250px; 
    /* background-color:rgb(24, 182, 18); */
    /* position: absolute; */
    right: 0px;
    top: 0px;
    border: 2px solid green;
    /* float: right; */
    align-content: flex-end;
    align-items: flex-end;
}


#bottom{
    width:1000px;
    height:250px; 
    /* background-color:rgb(40, 7, 56); */
    border: 2px solid rgb(233, 8, 113);
    /* position: absolute; */
    /* bottom: 0px;
    left: 0px;
    right: 0px; */
}


#welcome{
    position: left;
    font-family: "Georgia",'Gill Sans', 'Gill Sans MT','Trebuchet MS',sans-serif;
}

/* 
#headerImage{
    height: 50px;
    width: 50px;
}

.spacer{
    height: 50px;
    background-color: blue;
}

#textArea{
    position: absolute;
    float: right;
    margin-left: 70%;
}

#vizArea{

    float: left;
    width: 60%;
} */



#barChart{
margin: 5px;
padding: 5px;
};

#bubbleChart{
    margin: 5px;
    padding: 5px;
    };

#boxAndWhisker{
    margin: 5px;
    padding: 5px;
    };
