/* #vizContainer{
height: 700px;
width: 1300px;
overflow: auto;
}; */
/* 
h1{
    position: relative;
    top: 50px;
    left: 180px;
    width: 100px;
    font-family: "Georgia",'Gill Sans', 'Gill Sans MT','Trebuchet MS',sans-serif;

} */

#mainDiv{
    display: flex;
    flex-direction: column;
    width:1000px;
    height:500px; 
    border: 2px solid red;
}

#mainDiv > .divide{

    width:1000px;
    height:250px; 
}


#mainDiv >  #first-row{
    display: flex;
    flex-direction: row;
}


#left{
    width:500px;
    height:250px;
    border: 2px solid yellow;
    align-content: flex-start;
    align-items: flex-start;
}

#right{
    width:500px;
    height:250px; 
    border: 2px solid green;
    align-content: flex-end;
    align-items: flex-end;
}

#bottom{
    width:1000px;
    height:250px; 
    border: 2px solid rgb(30, 8, 233);

}




#whole{
    display: flex;
    flex-direction: column;
    width:1200px;
    height:700px; 
    border: 2px solid rgb(0, 68, 255);
}


#filters{
    width:1200px;
    height:350px; 
    border: 2px solid rgb(172, 12, 34);
    /* align-content: flex-end;
    align-items: flex-end; */
}


#worksheet{
    width:1200px;
    height:350px; 
    border: 2px solid rgb(235, 252, 0);
    /* align-content: flex-end;
    align-items: flex-end; */
}



#whole > #filters{

    display: flex;
    justify-content: space-around;

}


.fill{
    border: 2px solid rgb(8, 206, 8);
    width: 150px;
}


h3{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 5px;
    text-align: center;
    font-style: normal; 
}







#welcome{
    position: left;
    font-family: "Georgia",'Gill Sans', 'Gill Sans MT','Trebuchet MS',sans-serif;
}

/* 
#headerImage{
    height: 50px;
    width: 50px;
}

.spacer{
    height: 50px;
    background-color: blue;
}

#textArea{
    position: absolute;
    float: right;
    margin-left: 70%;
}

#vizArea{

    float: left;
    width: 60%;
} */



#barChart{
margin: 5px;
padding: 5px;
};

#bubbleChart{
    margin: 5px;
    padding: 5px;
    };

#boxAndWhisker{
    margin: 5px;
    padding: 5px;
    };
